Meta
doc
docs/paper.html
.Rhistory
.RData
*~
*.o
*.so
*.rds
.Rproj.user
vignettes/*.html
revdep
^README.knit.md$
^README.utf8.md$
release-featured-images/*.pdf
release-featured-images/*.tex
release-featured-images/*.png
inst/doc
..Rcheck
paper/paper.html
/doc/
/Meta/
/refcard/*
!/refcard/*.rnw
!/refcard/*.pdf
!/refcard/*.png
